<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    {% for post in site.posts reversed %}
                      {% unless post.hidden_in_navigation %}
                        <li><a class="page-scroll" href="#{{ post.id }}">{{ post.category }}</a>
                      {% endunless %}
                    {% endfor %}
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                Credits: Landing Page is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.
            </div>
        </div>
    </div>
</footer>
