<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include navigation.html %}
		{% include header.html %}
		<div class="content-section-a">

        <div class="container">

            <div class="row">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Welcome</h2>
                <div class="lead">
		                <div class="col-lg-5 col-sm-6">
												<p>We sail several classes of dinghies, from the gentle (<a href="http://www.ukmirrorsailing.com/">Mirror</a>, <a href="http://www.gbrtopper.co.uk/">Topper</a>) to the powerful (<a href="http://www.rs-association.com/index.asp?fleet=RS200">RS 200</a>, <a href="http://www.rs-association.com/index.asp?fleet=RS300">RS300</a>, <a href="http://www.laser.org.uk/">Laser</a>, <a href="http://www.solosailing.org.uk/index.asp">Solo</a>).</p>

											  <p>Just <a href="mailto:info@sheffieldviking.org.uk">ask</a> for details.</p>

												<p>We sail <em>every</em> Sunday, with Thursday evenings during the summer and twice monthly on Saturdays.</p>
										</div>
		                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
		                    <!-- <img class="img-responsive" src="img/services/{{ post.img }}" alt=""> -->
												<div class="clearfix"></div>
												<div class="lead">
												  <p><a href="http://www.sheffieldrowing.co.uk/">Rowing</a> and fishing also take place at <a href="http://maps.google.co.uk/maps?f=q&amp;hl=en&amp;t=k&amp;om=1&amp;ll=53.414341,-1.58246&amp;spn=0.022867,0.062056">Damflask Reservoir</a>.</p>

												  <p>Currently, no other water-sports are undertaken here. Please see <a href="http://recreation.yorkshirewater.com/">Yorkshire Water</a> for more local information.</p>
												</div>
		                </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
		{{ content }}

		<!-- Footer -->
		<footer>
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8">
		                <ul class="list-inline">
		                    {% for post in site.posts reversed %}
													{% unless post.hidden_in_navigation %}
			                      <li><a class="page-scroll" href="#{{ post.id }}">{{ post.category }}</a>
			                    {% endunless %}
		                    {% endfor %}
		                    <li class="footer-menu-divider">&sdot;</li>
		                    <li>
		                        <a href="#contact">Contact</a>
		                    </li>
		                </ul>
		                <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
		            </div>
		            <div class="col-md-4">
		                Credits: Landing Page is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.
		            </div>
		        </div>
		    </div>
		</footer>

		<!-- jQuery Version 1.11.0 -->
		<script src="js/jquery-1.11.0.js"></script>

		<!-- Plugin JavaScript -->
		    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="js/landing-page.js"></script>

	</body>
</html>
